
			<section>
				<div class="container">
				{{ range $element :=  .Data.Pages }}
	                {{ if eq .Section "home" }}
	                    {{ if eq .Title "product" }}
					<header class="text-center">
						<h2>{{ .Params.header }}</h2>
						<p class="lead">{{ .Params.summary }}</p>
						<div class="divider half-margins onepage center">						
						</div>
					</header>



					<div class="row">
						<div class="col-md-4">
							<div class="featured-box noborder">							

								<i class="fa PB"><img src="/images/PB.png"></i>
								<h4>{{ .Params.block1_title_strong }}</h4>
								<p>{{ .Params.block1_text }}</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="featured-box noborder">							

								<i class="fa HC"><img src="/images/HC.png"></i>
								<h4>{{ .Params.block2_title_strong }}</h4>
								<p>{{ .Params.block2_text }}</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="featured-box noborder">						

								<i class="fa HD"><img src="/images/HD.png"></i>
								<h4>{{ .Params.block2_title_strong }}</h4>
								<p>{{ .Params.block2_text }}</p>
							</div>
						</div>						
					</div>


							{{end}}
						{{end}}
					{{end}}
				</div>
			</section>			