<!--{{ range $element :=  .Data.Pages }}
   {{ if eq .Section "home" }}
       {{ if eq .Title "solution_section" }}

      <section id="solution">
        <div class="container">


          <header class="text-center">
            <h2>{{ .Params.header }}</h2>
            <p class="lead">{{ .Params.summary }}</p>
            <div class="divider half-margins"></div>
          </header>


          <div class="row">

            <div class="col-md-4 col-sm-6">
              <h4>{{ .Params.section1_header }}</h4>
              <p class="dropcap">{{ .Params.section1_text }}</p>
            </div>

            <div class="col-md-4 col-sm-6">
              <h4>{{ .Params.section2_header }}</h4>
              <p>{{ .Params.section2_text }}</p>
            </div>

            <div class="col-md-4 col-sm-12">

             
              <div class="accordion panel-group transparent" id="accordion2">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#acordion_1">
                        <i class="fa fa-plus"></i>
                        {{ .Params.accordion1_header }}
                      </a>
                    </h4>
                  </div>
                  <div id="acordion_1" class="collapse">
                    <div class="panel-body">
                      {{ .Params.accordion1_text }}
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#acordion_2">
                        <i class="fa fa-plus"></i>
                        {{ .Params.accordion2_header }}
                      </a>
                    </h4>
                  </div>
                  <div id="acordion_2" class="collapse">
                    <div class="panel-body">
                      {{ .Params.accordion2_text }}
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#acordion_3">
                        <i class="fa fa-plus"></i>
                        {{ .Params.accordion3_header }}
                      </a>
                    </h4>
                  </div>
                  <div id="acordion_3" class="collapse">
                    <div class="panel-body">
                      {{ .Params.accordion3_text }}
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion3" href="#acordion_4">
                        <i class="fa fa-plus"></i>
                        {{ .Params.accordion4_header }}
                      </a>
                    </h4>
                  </div>
                  <div id="acordion_4" class="collapse">
                    <div class="panel-body">
                      {{ .Params.accordion4_text }}
                    </div>
                  </div>
                </div>
              </div>
             

            </div>

          </div>

        </div>
      </section>
     
      {{ end }}
    {{ end }}
{{ end }}






-->

<!-- Content Block
      ============================================-->
      <section class="content-block default-bg">
      
        <!-- Container -->
        <div class="container cont-main">
        
          <!-- Section Title -->
          <div class="section-title">
            <h2>testimonials</h2>
            <p>We are experts in both desktop and mobile design.</p>
          </div>
          <!-- Section Title -->
          
          <!-- Slider Wrapper -->
          <div class="bx-controls-dark bx-controls-below bx-controls-box">
          
            <!-- BxSlider -->
            <div class="bxslider" data-call="bxslider" data-options="pager:false, slideMargin: 30" data-breaks="[{screen:0, slides:1}, {screen:768, slides:2}]">
              
              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote">
                  <blockquote>
                    <p><img class="avatar" src="images/face3.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Mary Doe</a>, Business Owner</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote hquote-right">
                  <blockquote>
                    <p><img class="avatar" src="images/face1.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Alice Wonder</a>, Actress</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote">
                  <blockquote>
                    <p><img class="avatar" src="images/face3.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Mary Doe</a>, Business Owner</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote hquote-right">
                  <blockquote>
                    <p><img class="avatar" src="images/face1.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Alice Wonder</a>, Actress</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->
              
            </div>
            <!-- /BxSlider -->
              
          </div>
          <!-- /Slider Wrapper -->
        
        </div>
        <!-- /Container -->
      </section>
      <!-- /Content Block
      ============================================-->