<!-- {{ range $element :=  .Data.Pages }}
  {{ if eq .Section "home" }}
      {{ if eq .Title "howitworks_box" }}
        <section id="how-it-works" class="pv-30 padding-bottom-clear clearfix">
        	    <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-center">{{ .Params.header }}</h2>
                            <div class="separator"></div>
                            <p style="margin-bottom: 0" class="large text-center">{{ .Params.summary }}</p>
                            <img src="/images/how-it-works.png">
                        </div>
                    </div>
        	    </div>
          </section>
          <hr />
    {{ end }}
  {{ end }}
{{ end }}
 -->

 <!-- SECTION -->
      <section>
        <div class="container">
          
          
          <header class="text-center">
            <h2>We Are Dedicated To Our Customers</h2>
            <p class="lead">We thrive on making Epona the most complete and trusted template on wrapbootstrap</p>
            <div class="divider half-margins"><!-- divider --></div>
          </header>

          
          <div class="row">

            <div class="col-md-4 col-sm-6">
              <h4>Passion</h4>
              <p class="dropcap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et elementum erat, biluctus mi. Quisque consequat risus quis tincidunt fringilla. Ut sed rhoncus metus, in rhoncus dolor. Integer tempor ligula est, sed luctus metus tempus a. Pellentesque tempor libero et arcu bibendum mollis. Aliquam eu odio eget diam egestas euismod vel sed orc aenean.</p>
            </div>

            <div class="col-md-4 col-sm-6">
              <h4>Precision</h4>
              <p>Pellentesque tempor libero et arcu bibendum mollis. Donec eu porta elit. Aliquam porta sollicitudin ante, ac fermentum orci mattis et. Phasellus ac nibh eleifend, sagittis purus nec, elementum massa. Quisque tincidunt sapien a sem porttitor, id convallis dolor pharetra. Donec tempor cursus facilisis. Ut eu elementum arcu, vel hendrerit nisi. Cras sed euismod nibh, a adipiscing.</p>
            </div>

            <div class="col-md-4 col-sm-12">

              <!-- ACCORDION -->
              <div class="accordion panel-group transparent" id="accordion2">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#acordion_1">
                        <i class="fa fa-plus"></i>
                        Our Company Mission
                      </a>
                    </h4>
                  </div>
                  <div id="acordion_1" class="collapse">
                    <div class="panel-body">
                      Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#acordion_2">
                        <i class="fa fa-plus"></i>
                        The Epona Inside
                      </a>
                    </h4>
                  </div>
                  <div id="acordion_2" class="collapse">
                    <div class="panel-body">
                      Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#acordion_3">
                        <i class="fa fa-plus"></i>
                        The Epona Philosophy
                      </a>
                    </h4>
                  </div>
                  <div id="acordion_3" class="collapse">
                    <div class="panel-body">
                      Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion3" href="#acordion_4">
                        <i class="fa fa-plus"></i>
                        Join our great team
                      </a>
                    </h4>
                  </div>
                  <div id="acordion_4" class="collapse">
                    <div class="panel-body">
                      Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
                    </div>
                  </div>
                </div>
              </div>
              <!-- /ACCORDION -->

            </div>

          </div>

        </div>
      </section>
      <!-- /SECTION -->