http://gig-gener8:5555 {
    bind 0.0.0.0
    gzip
    root www.gig-gener8.com
    git {
       repo git@github.com:0-complexity/www-gig-gener8.git
       interval 300
       key ../keys/id_rsa
       path ../
       then hugo server www.gig-gener8.com
    }
}
